/* stylesheet for full-bleed color PDF print */

@page {
  margin: 0px;
}
:root {
  --size-base: 1.9rem;
  --spacing-med: var(--spacing-lg);
}
html {
  font-size: 7.5px;
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
}

html, body {
  height: 100%;
  overflow-y: hidden;
  margin: 0 0 0 0;
  page-break-before: none;
  page-break-after: none;
  page-break-inside: avoid;
}

header {
  /*
    redeclaring this padding here fixes a bug in Firefox's print modal where it ignores
    the new values of rem-based CSS vars only for the header element.
  */
  padding: var(--spacing-lg) var(--spacing-med) !important;
}

.column {
  margin-bottom: 0;
}

.no-print {
  display: none;
}