/* todo: why the second empty page when printing? the html, body attributes below don't do squat */
/* maybe the @page stuff? */
html, body {
  height: 99%;
  margin: 0 0 0 0;
  page-break-before: none;
  page-break-after: none;
  page-break-inside: avoid;
}

html {
  font-size: 8.5px;
}

@page {
  margin: 10px;
}

header {
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: transparent;
}

body {
  background: var(--color-neutral-white) !important;
  page-break-inside: avoid;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-neutral-black) !important;
}

a {
  page-break-inside: avoid
}

blockquote {
  page-break-inside: avoid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  page-break-after: avoid;
  page-break-inside: avoid
}

img {
  page-break-inside: avoid;
  page-break-after: avoid;
}

table,
pre {
  page-break-inside: avoid
}

ul,
ol,
dl {
  page-break-before: avoid
}

a:link,
a:visited,
a {
  color: var(--color-neutral-black);
  font-weight: bold;
}

/* semantic overrides */
.column {
  margin-bottom: 0;
}

.color-picker {
  display: none;
}